.Heading {
    background-color:greenyellow;
    color: black;
}

body {
    background-color: black;
    color: azure;
}

.Image1 {
    width: 600px;
}

.pro1 {
    width: 1300px;
}

.pro2 {
    width: 900px;
    height: 800px;
}

.linkedin {
    width: 500px;
}

.github {
    width: 500px;
}

.navbar {
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin: 0;
    padding: 0;
}

.nav-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    background-color: greenyellow;
}

.active {
    background-color: gold;
}

html {
    scroll-behavior: smooth;
}

body {
    cursor: none; /* Hide the default cursor */
  }
  
  .custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #00ffcc;
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.1s ease;
    z-index: 10000;
  }

  .custom-cursor.grow {
    transform: scale(2);
  }

  body {
    cursor: none;
  }
  